<div class="container">
    <div class="row col-12">
        <form class="form-holder">
            <h1 style="font-weight: 1000;">Contact us</h1>
            

            <div class="name mt-3">
                <label for="name" class="form-label"><span class="text-danger">*</span> Name</label>
                <input type="text" class="form-control form-control-lg" id="email" formControlName="email">
                
            </div>
            <div class="email mt-3">
                <label for="email" class="form-label"><span class="text-danger">*</span> Email</label>
                <input type="text" class="form-control form-control-lg" id="email" formControlName="email">
                
            </div>
            <div class="Number mt-3">
                <label for="number" class="form-label"><span class="text-danger">*</span> Number</label>
                <input type="tel" class="form-control form-control-lg" id="number" formControlName="password">
                
            </div>

            <div class="content mt-3">
                <label for="content" class="form-label"><span class="text-danger">*</span> Comments</label>
                <textarea type="text" class="form-control form-control-lg" id="content" formControlName="password" rows="5">
                    </textarea>
            </div>
            <!-- <div class="form-check  col-lg-3 col-sm-3 col-md-12 d-flex mt-2">
                <input class="form-check-input" type="checkbox" id="showhide" style="width: 15px;">
                <label class="form-check-label small" for="flexCheckDefault" style="margin-left: 8px;" ></label>
            </div> -->

            <div class="login-button mt-4">
                <button class="btn btn-dark btn-lg">Submit</button>
            </div>
            <!-- <div class="signup mt-2 mb-2 col-12 text-center">
                <p>New user ? <a [routerLink]="['/signup']">Register here... <i
                            class="fa-solid fa-arrow-right-to-bracket"></i></a></p>
            </div> -->
        </form>
    </div>
</div>
