<div class="text-center p-3 footer" style="background-color: #252525;" id="footer">
    <h4 style="color:#eeedec;">&copy;{{currDate}} ,India</h4>
    <h3 class="" style="color:#eeedec;">Made with ❤️❤️❤️</h3>
    <!-- <div>
        <a href="https://www.linkedin.com/in/sunkara-raviteja-b16246157/" target="_blank" title="Linkedin">
            <i class="fa-brands fa-linkedin fa-2x" id="icon" style="color:white;"></i>
        </a>
        <a href="https://www.facebook.com/profile.php?id=100011085638444" target="_blank" title="Facebook">
            <i class="fa-brands fa-facebook fa-2x" id="icon" style="color:white;"></i>
        </a>
        <a href="https://www.instagram.com/raviteja.sunkara_/" target="_blank" title="Instagram">
            <i class="fa-brands fa-instagram fa-2x" id="icon" style="color:white"></i>
        </a>
        <a href="https://github.com/ravitejaasunkara" target="_blank" title="Github">
            <i class="fa-brands fa-github fa-2x" id="icon" style="color:white;"></i>
        </a>
    </div> -->
    <div class="subscription">
        <h2>Subscribe to our email</h2>
        <h4>Subscribe to our mailing list for insider news, product launches, and more.</h4>
        <input type="text" class="form-control form-control-lg col-12" style="width: 400px;background-color: #252525;"
        placeholder="Email">
    </div>
</div>